@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

$fuente1: 'Contrail One', cursive;



* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: $fuente1;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

main {
    min-height: 700px;
}

.logo {
    margin-left: 50px;
}

.navbar-nav {
    margin-right: 50px;
}

.fondo-index {
    background-image: url(../imagenes/fondo-index.jpg);
    width: 100vw;
    /* height: 100vh; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-index {
    height: 800px;
}

.section-index {
    border-radius: 10px;
    opacity: 0.8;
    width: 600px;
    // font-family: 'Contrail One', cursive;
}


.card {
    margin-left: 500px;
    margin-top: 200px;
}

.h1-servicios {
    background: rgba(255, 251, 251, 0.8);
    font-size: 50px;
    // font-family: 'Contrail One', cursive;
    display: block;
    margin-left: 50px;

}

.p-servicios {
    font-size: 25px;
    margin-left: 50px;
}

.img-servicios {
    border-radius: 20px;
    margin-left: 50px;
}


/* Medias querys general */

@media screen and (min-width: 1351px) {
    .img-servicios {
        width: 650px;
    }

    .p-servicios {
        font-size: 20px;
    }

    .imagen-nosotros {
        width: 650px;
    }

    .txt-nosotros {
        font-size: 20px;
    }

    .row {
        padding: 100px;
    }
}

@media screen and (min-width: 1251px) and (max-width:1350px) {
    .img-servicios {
        width: 600px;
        margin-top: 75px;
    }

    .imagen-nosotros {
        width: 600px;
        margin-top: 75px;
    }

    .txt-nosotros {
        font-size: 20px;
    }

    .row {
        padding: 100px;
    }

}

@media screen and (min-width: 751px) and (max-width:1250px) {
    .img-servicios {
        width: 500px;
        margin-top: 125px;
    }
        .imagen-nosotros {
            width: 500px;
            margin-top: 125px;
        }

        .txt-nosotros {
            font-size: 17px;
        }
    
        .row {
            padding: 100px;
        }
}




@media screen and (min-width: 501px) and (max-width:750px) {
    .img-servicios {
        width: 450px;
        margin-left: 0px;
    }

    .p-servicios {
        font-size: 16px;
    }

    .imagen-nosotros {
        width: 450px;
    }

    .txt-nosotros {
        font-size: 16px;
    }

    .row {
        padding: 100px;
    }

}

@media screen and (max-width:600px) {
    .img-servicios {
        width: 350px;
    }

    .p-servicios {
        font-size: 16px;
    }

    .imagen-nosotros {
        width: 350px;
    }

    .txt-nosotros {
        font-size: 16px;
    }
}

.card-img-top {
    border-radius: 20px;
}

.card {
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 50px;
    height: auto;
}

.row-productos {
    padding: 100px;
}

.card-body {
    // font-family: 'Contrail One', cursive;
    font-size: 16px;
}

.div-nosotros {
    margin-top: 10px;
    margin-left: 100px;
    // font-family: 'Contrail One', cursive;

}


.fc{
    display: flex;
    justify-content: center;
    align-content: center;
}

.div-formulario{
    margin-top: 5%;
    width: 450px;
    height: auto;
    border-radius: 20px;
}

textarea{
    width: 400px;
    margin-bottom: 50px;
    height: 200px;
}

input{
    width: 400px;
}

.div-form{
    padding-left: 25px;
    padding-top: 25px;
    font-family: 'Contrail One', cursive;
    font-size: 25px;
    background-color:wheat;
    border-radius: 20px;
    opacity:  0.9;
    border: 2px solid black;
}

.titulo-form{
    margin-bottom: 10px;
    margin-left: 160px;
}

.fondo-contacto{
    background: url(../imagenes/fondo-contacto1.jpg);
    width: 1920px;
    height: auto;
}

.fondo-contacto {
    background: url(../imagenes/fondo-contacto1.jpg);
    width: 1920px;
    height: auto;
}

